.m-1 {margin: 2px;}
.m-2 {margin: 4px;}
.m-3 {margin: 8px;}
.m-4 {margin: 16px;}

.p-1 {padding: 2px;}
.p-2 {padding: 4px;}
.p-3 {padding: 8px;}
.p-4 {padding: 16px;}

.w-1 {width: 25%;}
.w-2 {width: 50%;} 
.w-3 {width: 75%;}
.w-4 {width: 100%;}

.h-1 {height: 25%;}
.h-2 {height: 50%;}
.h-3 {height: 75%;}
.h-4 {height: 100%;}

.bg-red {background-color: red;}
.bg-blue {background-color: blue;}
.bg-green {background-color: green;}
.bg-yellow {background-color: yellow;}

.txt-white {color: white;}
.txt-black {color: black;}
.txt-gray {color: gray;}
.txt-blue {color: blue;}

.border-1 {border: 1px solid black;}
.border-2 {border: 2px solid black;}
.border-3 {border: 3px solid black;}
.border-4 {border: 4px solid black;}

.txt-size-1 {font-size: 12px;}
.txt-size-2 {font-size: 16px;}
.txt-size-3 {font-size: 20px;}
.txt-size-4 {font-size: 24px;}