.header {
    width : 100%;
    height: 125px;
    background-color: aqua;
    position: relative;

}
.hero {
    width: 100%;
    height: 400px;
    background-color: coral;
    position: relative;
}
.logo {
    position: absolute;
    top: 25px;
    left: 20px;
    height: 50px;
    /* width: 75px; */
}
.title {
    position: absolute;
    top: 7px;
    left: 140px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
}
.search-bar {
    position: absolute;
    top: 25px;
    right: 23px;
    padding: 8px;
    width: 250px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #cccccc79;
}
.search-button {
    position: absolute;
    top: 26px;
    right: 24px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #70ff75;
    color: white;
    cursor: pointer;
    z-index: 3;
}
.search-button:hover {
    background-color: #07890d;
    box-shadow: inset 0 0 5px #00000070;
}
nav {
   padding: 1rem;

}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;

}
ul li {
    display: inline block;
    background-color: greenyellow;
    height: 20px;
    width: 120px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.nav-bar ul li a {
    color: white;
    
}
