.main-bg {
    background: linear-gradient(340deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 500px;
    height: 500px;
    Position: absolute;
    top: 20px;
    left: 20px;
}
.latter-c {
    font-size: 50px;
}
.latter-s {
    position: relative;
    bottom: 150px;
    /* left: 70px; */
}