.box-1 {
    width: 500px;
    height: 500px;
    padding: 10px;
    /* min-height: 100vh;
    min-width: 200vw; */
    font-weight: bold;
    background-color: rgb(0, 174, 255);
    border: 2px solid rgb(0, 60, 255);
    /* border-bottom: None ; */
    box-shadow: 10px 10px 4px 3px rgb(35, 35, 35), 20px 20px 4px 3px rgba(35, 35, 35, 0.8), 30px 30px 4px 3px rgba(35, 35, 35, 0.6), 40px 40px 4px 3px rgba(35, 35, 35, 0.4), 50px 50px 4px 3px rgba(35, 35, 35, 0.2);
}
/* .box-1:hover {
    color: rgb(195, 0, 255);
    transition: 3s all; */
}
.nev-bar {
    margin: 2px;
    padding-left: 5px;
    /* list-style-type: none; */
    gap: 8px;

}
.nev-bar li {
    display: inline-block;
    margin-right: 10px;
    height: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.nev-bar li a:hover {
    /* box-shadow: rgb(83, 83, 83) 5px 5px 5px 5px; */
    text-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;

}
.nev-bar li a:active {
    /* box-shadow: inset rgb(83, 83, 83) 5px 5px 5px 5px; */
    text-shadow: inset rgb(0, 0, 0) 5px 5px 5px 5px;
}