.left {
    position:absolute;
    left: 0px;
    top: 10em;
    width: 6em;
    height: 6em;
    background-color: yellow;
    animation: collapse-in 2s forwards infinite;
    
}
@keyframes collapse-in {
    form {
        left: 0px;
    }
    to {
        left: calc(50% - 3em)
    }
}
.right {
    position:absolute;
    right: 0px;
    top: 10em;
    width: 6em;
    height: 6em;
    background-color: rgba(255, 119, 228, 0.7);
    animation: collapse-in-right 2s forwards infinite;
}
@keyframes collapse-in-right {
    from {
        right: 0px;
    }
    to {
        right: calc(50% - 3em)
    }
}